:root.theme-dark {
  --bg-image: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --accent-color: #ff0070;
  --secondary-accent-color: var(--accent-color);
  --menu-button-hover-color: rgba(255, 0, 112, 0.4);
  --page-title-color: #db00ff;
  --card-subtitle-color: #000028;
  --card-description-text-color: #f1b2ce;
}

:root.theme-dark .header__theme-menu-button:hover {
  box-shadow: none;
}

:root.theme-dark .rec-indicator {
  display: inline-flex;
}
